<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-label>
    <ion-text>
      <h1>{{status}}</h1>
    </ion-text>
  </ion-label>
  <ion-button (click)="RecordAudio()">Record</ion-button>
  <ion-button (click)="StopRecording()">Stop</ion-button>
  <ion-button (click)="Play()">Play</ion-button>
  <ion-button (click)="Pause()">Pause</ion-button>
</ion-content>
